PAYSTACK_SECRET_KEY=your_paystack_secret_key_here
PAYSTACK_PUBLIC_KEY=your_paystack_public_key_here
PAYSTACK_ENV=test
FRONTEND_URL=http://localhost:3000
PORT=3000
TICKET_AMOUNT=3000
ADMIN_SECRET_KEY=your_admin_secret_key_here
